@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*{
    font-family: 'Nunito', sans-serif; 
    font-weight: bold;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg ,#0a0a0a  , #000000);
}

.button{
    padding: 10px;
    margin: 0 3px;
    font-size: 20px;
    height: 60px;
    width: 66px;
    border-radius:50%;
    cursor: pointer;
    background: transparent;
    color: white;
    box-shadow: -8px -8px 15px rgb(21, 29, 45 ,0.1);
}

.row{
    margin : 8px 0; 
}

.row input{
    width: 295px;
    height: 75px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0dvb;
    /* border: 3px solid black; */
    box-shadow: 0px 3px 15px rgb(7, 8, 10);
    border-radius: 5px;
    text-align: right;
    background-color: #8c93a0;
}
input::placeholder{
    color: rgb(17, 15, 15);
}

.container{
    border: 5px solid #717377;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px blanchedalmond;
}

.equalBtn{
    background-color: orange;
    color: black;
}

.operator{
    color: greenyellow;
}
.c1{
    color: greenyellow;
}

